<div id="homePage-grid">
  <app-add-client-form (newClient)="addClient($event)"></app-add-client-form>
  <app-client-list id="client-list" [clients]="clients"></app-client-list>
  <p>add articles form</p>
  <app-articles-list id="article-list" [articles]="articles"></app-articles-list>
</div>
<!--<button (click)="addClient()">Add Client</button>-->
<!--<button mat-flat-button (click)="addClient()">Add Client</button>-->
<app-bill-creation [clients]="clients" [articles]="articles"></app-bill-creation>
